html, body{
    height: 100%;
}
.row{
    margin-left: 0;
    margin-right: 0;

    background-color: #BDD684;
}

#header{
    height: 5%;
    min-height: 50px;

    background-color: #10222B;
}

#sidebar {
    margin-top: 15px;
}

#sidebar section{
    width: 100%;
    height: 54px;
    text-align: center;
    margin-bottom: 5px;
}

#sidebar section:hover{
    background-color: #95AB63;
}

#sidebar div{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#sidebar .sb-icon{
    position: relative;
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    
    color: #10222B;
}

#sidebar .sb-text{
    position: relative;
    height: 44px;
    width: calc(100% - 45px);

    color: #10222B;
}

#sidebar .sb-text span:first-child{
    font-weight: bold;
    font-size: 15px;
}

#sidebar .sb-text span{
    font-weight: 500;
    font-size: 12px;
}

#container{
    background-color: green;
}

footer{
    height: 5%;
    min-height: 80px;
}
