@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
#close-order-info {
  position: absolute;
  right: 15px;
  top: 65px; }
  #close-order-info span {
    font-size: 2.5rem;
    color: white;
    z-index: 1001; }

#order-info {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding-top: 115px; }
  #order-info h1 {
    margin-bottom: 25px; }

* {
  box-sizing: border-box;
  font-family: Arial, Sans-serif, Microsoft JhengHei; }

body {
  background: #F1F4F1; }

.invoice {
  background: #FFF;
  color: #222;
  padding: 3rem 2rem 4rem 2rem;
  width: 90%;
  margin: 0rem 5% 5rem 5%;
  position: relative; }
  .invoice h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0; }
  .invoice h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0.8rem 0 1rem 0;
    color: #999; }

.invoice-id {
  color: #999;
  margin: 0 0 2rem 0; }

.invoice-grid {
  margin: 0 0 2rem 0; }
  .invoice-grid > div {
    padding-right: 1rem; }
  .invoice-grid pre {
    margin-top: 20px;
    font-size: 13px;
    font-family: inherit; }

.invoice-module {
  position: relative;
  border: 1px solid #ccc;
  padding: 1rem; }

.invoice-for {
  word-break: break-all; }

.amount-due-amount, .due-date-date {
  font-size: 1.5rem;
  font-weight: 800; }

.paid-line {
  padding: 2rem 0 1rem 0;
  text-align: center; }
  .paid-line img {
    display: block;
    margin: 0 auto 0.5rem; }

.grid [class^="grid-"] {
  float: left;
  width: 100%; }
.grid .grid-1-2 {
  width: 50%;
  height: 100%; }

.group:after {
  content: "";
  display: block;
  clear: both; }

#chip-list-container {
  margin: 0 1.2rem 0 1.2rem; }

.chip {
  margin-top: 1rem; }
  .chip .invoice-module {
    padding: 0.5rem; }
  .chip .invoice-grid {
    margin: 0 0 1rem 0; }
  .chip .multiple {
    text-align: right; }
  @media only screen and (max-width: 991px) {
    .chip div {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 991px) {
    .chip .part-number {
      font-size: 2rem; } }
  @media only screen and (max-width: 991px) {
    .chip .quantity:before {
      content: "x"; } }
  @media only screen and (max-width: 991px) {
    .chip .chip-total-price {
      text-align: right; } }

#info-paid-date {
  width: 200px; }

#info-paid-account {
  width: 200px; }

#paid-info-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem; }

.shipping-fee {
  color: #999; }

#shipping-fee {
  color: #000; }
  @media only screen and (max-width: 991px) {
    #shipping-fee {
      text-align: right; } }

.fee {
  color: #999; }

#fee {
  color: #000; }
  @media only screen and (max-width: 991px) {
    #fee {
      text-align: right; } }

@media only screen and (max-width: 991px) {
  #info-net {
    text-align: right; } }

@media only screen and (max-width: 991px) {
  .hide-in-middle-screen {
    display: none !important; } }

.show-in-middle-screen {
  display: none; }
  @media only screen and (max-width: 991px) {
    .show-in-middle-screen {
      display: block !important; } }

.center {
  display: block;
  margin: auto;
  margin-top: 10px; }
  .center h1 {
    text-align: center; }

table {
  width: 90%;
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 50px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }

thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  thead th {
    font-family: "Patua One", cursive;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 20px;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
    background-image: -moz-linear-gradient(#646f7f, #4a5564);
    background-image: -webkit-linear-gradient(#646f7f, #4a5564);
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top: 1px solid #858d99; }
    thead th:first-child {
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-left-radius: 5px; }
    thead th:last-child {
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-right-radius: 5px; }

tbody tr td {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0; }
tbody tr:nth-child(2n) {
  background: #f0f3f5; }
tbody tr:last-child td {
  border-bottom: none; }
  tbody tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  tbody tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  /* uncomment for blur effect */
  /* color:transparent;
   *@include text-shadow(0px 0px 2px rgba(0,0,0,0.8)); */ }
tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/*# sourceMappingURL=list_order.css.map */
