#about_us
  padding: 5% 5% 5% 5%
  h2
    margin-bottom: 7%
  img
    width: 150px
    margin-bottom: 15px

.member-item
  //height: 30%
  padding: 0 2% 0 2%
  margin-bottom: 5%
  //border-width: 1px
