#banner-container
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 60%
  min-height: 250px
  background-color: black
  background-image: url('../images/index-banner.jpg')
  background-size: cover
  background-position: 50% 40%
  box-shadow: inset 0px 0px 10px 0px rgba(30, 30, 30, 0.8)
  font-family: 'Orbitron', sans-serif
  color: white

  .space-before
    flex: 1.5
  #slogan-container
    margin: auto
    padding: 1%
    background-color: rgba(0, 0, 0, 0.4)
  h1
    flex: 1
    margin: 0
    font-size: 7rem
    text-align: center
    @media only screen and (max-width: 767px)
      font-size: 5rem
  h2
    flex: 1
    margin: 0
    font-size: 3rem
    text-align: center
    @media only screen and (max-width: 767px)
      font-size: 2rem

  .space-after
    flex: 1

#service
  height: 40%
  min-height: 150px
  div
    height: 100%
  .service-item
    height: 100%
    padding: 3.5% 0 0.5% 0
    h1
      font-size: 2.8rem
    svg
      height: 40%
      min-height: 45px
    h2
      font-size: 2.3rem
      margin: 1% 0 1% 0


// overwrite base
#container
  height: 100%
