body
  background-color: #e8eded
nav
  .navbar
    background-color: #c6d6df
#banner-container
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 60%
  min-height: 250px
  background-color: black
  background-image: url('../images/index-banner.jpg')
  background-size: cover
  background-position: 50% 40%
  box-shadow: inset 0px 0px 10px 0px rgba(30, 30, 30, 0.8)
  font-family: 'Orbitron', sans-serif
  color: white

  #slogan-container
    width: 500px
    margin: auto
    padding: 2rem 0 2rem 0
    background-color: rgba(0, 0, 0, 0.6)
    @media only screen and (max-width: 767px)
      width: 280px
  h1
    margin: 0
    font-size: 7rem
    text-align: center
    @media only screen and (max-width: 767px)
      font-size: 5rem
  h2
    margin: 0
    font-size: 3rem
    text-align: center
    @media only screen and (max-width: 767px)
      font-size: 1.8rem

  &:before
    display: block
    content: " "
    flex: 1.5
  &:after
    display: block
    content: " "
    flex: 1
#service
  height: 40%
  min-height: 150px
  padding: 0 10% 0 10%
  div
    height: 100%
  .service-item
    display: flex
    flex-direction: column
    height: 100%
    > div
      border-right: 1px solid #aaa
      height: auto
    @media only screen and (max-width: 767px)
      padding-bottom: 3%
      padding-top: 4%
      &:after 
        position: absolute
        bottom: 0
        left: 25%
        content: ""
        margin: auto
        height: 1px
        width: 50%
        background-color: #aaa
      > div
        border-right: 0px
    &:before
      display: block
      content: " "
      flex: 1
      min-height: 30px
    &:after
      display: block
      content: " "
      flex: 1.5
      min-height: 30px
    &:last-child > div
      border-right: 0px
    h1
      font-size: 2.8rem
    svg
      height: 80px
      min-height: 45px
    h2
      font-size: 2.3rem
      margin: 1% 0 1% 0


// overwrite base
#container
  height: 100%
