body
  font-family: Microsoft JhengHei

.loader
  display: none
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 10000
  svg
    position: relative
    width: 100px
    height: 100px
    left: calc(50% - 50px)
    top: calc(50% - 50px)
    path, rect
      fill: #ffffff
// stage 1
#order
  padding: 5% 5% 10% 5%

#order-list
  padding-left: 6%
  padding-right: 6%
  .chip
    padding-bottom: 15px
  .button-container
    margin-top: 10%
    button
      margin-bottom: 10px
      width: 60%
      font-size: 20px
  h3
    @media only screen and (max-width: 767px)
      font-size: 2rem

// stage2
#confirm-price
  padding-left: 6%
  padding-right: 6%
  .chip
    margin-top: 1rem
    .invoice-module
      padding: 0.5rem
    .invoice-grid
      margin: 0 0 1rem 0
    .multiple
      text-align: right
    div
      font-size: 2rem
      @media only screen and (max-width: 991px)
        font-size: 1.65rem
    .part-number
      font-size: 2rem
      @media only screen and (max-width: 991px)
        font-size: 1.85rem
    .multiple
      display: none
      @media only screen and (max-width: 991px)
        display: block
    .quantity:before
      @media only screen and (max-width: 991px)
        content: "x"
    .chip-total-price
      @media only screen and (max-width: 991px)
        text-align: right
  .button-container
    margin-top: 10%
    button
      margin-bottom: 10px
      width: 60%
      font-size: 20px

.shipping-fee
  color: #999
  font-size: 2rem
#shipping-fee
  color: #000
  @media only screen and (max-width: 991px)
    text-align: right
.fee
  color: #999
  font-size: 2rem
#fee
  color: #000
  @media only screen and (max-width: 991px)
    text-align: right
.info-net
  @media only screen and (max-width: 991px)
    font-size: 24px
#info-net
  @media only screen and (max-width: 991px)
    text-align: right

//stage 3

//stage 4

//============

.hide-in-middle-screen
  @media only screen and (max-width: 991px)
    display: none !important

#alert-message
  position: fixed
  top: -50px
  z-index: 200
