$COMPLITED-COLOR: #2C3E50 
$TODO-COLOR: #E1E2EB
$ACTIVE-COLOR: #00ABC9
body
  background-color: #F1F4F1
  font-family: Helvetica, sans-serif
  #countdown-wrap
    width: 80%
    margin: auto
    height: 300px
    font-family: arial
    #goal
      font-size: 60px
      text-align: left
      width: 100%
      text-align : center
    #glass
      width: 100%
      height: 30px
      background: #c7c7c7
      border-radius: 15px
      float: left
      overflow: hidden
      #progress
        float: left
        width: 0%
        height: 30px
        background: #00ABC9
        z-index: 333
    .goal-stat
      width: 25%
      height: 50px
      padding: 20px
      float: left
      font-size: 20px
      margin: 0
      .goal-number, .goal-label
        display: block
      .goal-number
        font-weight: bold
        padding-left: 5px
  .breadcrumb-pagination
    width: 100%
    border-bottom: 1px solid #E1E6EB
    text-align: center
    float: left
    color: #B3B7C1
    div
      width: 25%
      display: inline-block
      p
        text-align: center
        line-height: 0
        margin: 30px auto 25px
      span
        margin: 0 auto
        display: block
        border-radius: 100%
        height: 36px
        width: 36px
        padding: 3px
        font-size: 20px
    .completed 
      span
        background-color: none
        color: $COMPLITED-COLOR
        border: 2px solid $COMPLITED-COLOR
        &::before
      p
        font-size: 20px
        color: $COMPLITED-COLOR
    .active 
      span
        background-color: #00abc9
        color: #fff
      p
        border-bottom: 2px solid $ACTIVE-COLOR
        padding-bottom: 27px
        margin-bottom: 0px !important
        color: #3c4043
        font-weight: 700
        font-size: 20px
    .todo 
      span
        background-color: none
        color: $TODO-COLOR
        border: 2px solid $TODO-COLOR
      p
        font-size: 20px
  #nav
    position: relative
    width: 640px
    margin: 50px auto

    nav
      width: 100%
      ul
        li
          display: inline-block
          list-style: none
          width: 160px
          text-align: center
          font-family: Helvetica, sans-serif
          border: 1px dashed black
          color: #2C3E50
          padding: 10px 0 10px 0
          margin: -1px -5px -1px -1px
          cursor: pointer
          transition: all .2s
          -webkit-transition: all .2s
          &:hover
            border: 1px dashed #fff
            background: gray
        border: 1px solid #fff
        position: absolute
        width: 100%
        padding: 0
        z-index: 100
      div
        position: absolute
        left: 0
        background: #fff
        width: 162px
        height: 40px
        z-index: 99

    .active
      color: rgba(55, 186, 177, 1)
