$COMPLITED-COLOR: #2C3E50 
$TODO-COLOR: #E1E2EB
$ACTIVE-COLOR: #00ABC9
$MAIN-BACKGROUND: #F1F4F1
body
  background-color: #F1F4F1
  font-family: Helvetica, sans-serif ,Microsoft JhengHei
  #progress-container
    position: relative
    z-index: 100
    width: 100%
    padding: 3% 10% 3% 10%
    box-shadow: 0 -10px 10px 0px rgba(30, 30, 30, 0.8)
    #goal
      font-size: 40px
      text-align: left
      width: 100%
      text-align : center
    #glass
      width: 100%
      height: 30px
      background: #c7c7c7
      border-radius: 15px
      overflow: hidden
      @media only screen and (max-width: 767px)
        height: 15px
      #progress
        width: 0%
        height: 30px
        background: #00ABC9
        z-index: 333
    .goal-stat
      padding-top: 3%
      font-size: 1.65rem
  #table-container
    position: relative
    z-index: 101
    width: 100%
    padding: 3% 10% 3% 10%
    box-shadow: 0 -10px 10px 0px #bbbbbb

.hide-in-small-screen
  @media only screen and (max-width: 767px)
    display: none !important

// middle the slider images
.carousel-inner > .item >
  img, a > img
    margin: auto

.item
  width: 100%
  height: 450px

.cover-1
  background: url('../images/surplus.jpg') no-repeat
  position: relative
  margin: auto
  background-size: cover
  background-position: 50% 50%

.cover-2
  background: url('../images/bench.jpg') no-repeat
  position: relative
  margin: auto
  background-size: cover
  background-position: 50% 75%

.cover-3
  background: url('../images/warehouse.jpg') no-repeat
  position: relative
  margin: auto
  background-size: cover
  background-position: 50% 50%

#table-list
  display: table
  width: 80%
  height: 50px
  background: $MAIN-BACKGROUND
  margin: 0 auto
  margin-top: 30px
  box-sizing: border-box
  line-height: 50px
  .header-row-list
    background: #8b8b8b
    color: #fff
    font-size: 22px
  .row-list
    display: table-row

  .cell-list
    display: table-cell
    padding: 6px
    border-bottom: 1px solid #e5e5e5
    text-align: left
  .primary
    text-align: left
  input
    &[type="radio"], &[type="checkbox"]
      display: none

  @media only screen and (max-width: 760px)
    body
      padding: 0
    #table-list
      display: block
      margin: 44px 0 0 0
    .row-list
      position: relative
      display: block
      border-bottom: 1px solid #ccc
    .header-row-list
      display: none
    .cell-list
      display: block
      border: none
      position: relative
      height: 45px
      line-height: 45px
      text-align: left
    .primary:after
      content: ""
      display: block
      position: absolute
      right: 20px
      top: 18px
      z-index: 2
      width: 0
      height: 0
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 10px solid #ccc
    .cell-list:nth-of-type(n+2)
      display: none


.left.carousel-control
  background-image: none
  width: 70px
.right.carousel-control
  background-image: none
  width: 70px
