<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen">

        {% block css %}

        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% block js %}

        {% endblock %}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>{% block title %}Chiphub{% endblock %}</title>
    </head>

    <body ng-app="base" ng-controller="base-ctrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CHIPHUB</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Digikey集單專區 <span class="caret"></span><span class="sr-only">(current)</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/progress">集單進度</a></li>
                                <li ng-show="logined" role="separator" class="divider"></li>
                                <li ng-show="logined"><a href="/order">參加集單</a></li>
                            </ul>
                        </li>
                        <li><a href="/chatroom">零件討論區</a></li>
                        <li><a href="#">專案分享</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="logined" ng-click="login()"><a href="">登入</a></li>
                        <li class="dropdown" ng-show="logined">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My CHIPHUB<span class="caret"></span><span class="sr-only">(current)</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">個人資料</a></li>
                                <li><a href="/list_order">訂單記錄</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        <!-- Login Form 1-->
        <div id="login_wrapper" class="ang-fade" ng-cloak ng-if="login_wrapper" ng-click="exit_login()" ng-init="loaded = true" ng-show="loaded">
          <div id="login_providers">
            <div id="login_title">
              Login
            </div>
            <hr />
            <div id="login_options">
              <a href="/google_login"><div id=login_google></div></a>
            </div>
            <hr />
            <div id="login_footer">
              You will be redirected to other sites for authentication
            </div>
          </div>
        </div>
        <!-- End Login Form 1-->

        <div id="container">
            {% block content%}
            {% endblock %}
        </div>
    </body>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            });
    </script>
    </html>
