<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen">
    {% block css %}
    
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}Chiphub{% endblock %}</title>
</head>

<body>
    <div id="header" class="text-center">
        <h1> Chiphub</h1>
    </div>
    <div class="row">
        <aside id="sidebar" class="col-md-2">
            <section>
                <a href="/">
                    <div class="sb-icon"><i class="material-icons">home</i></div>
                    <div class="sb-text">
                        <span href="/">Home</span><br />
                        <span>CHIPHUB</span>
                    </div>
                </a>
            </section>
            <section>
                <a href="/chatroom">
                    <div class="sb-icon"><i class="material-icons">mode_comment</i></div>
                    <div class="sb-text">
                        <span href="/">Chatroom</span><br />
                        <span>Talk about compoents</span>
                    </div>
                </a>
            </section>
            <section>
                <a href="/exchange">
                    <div class="sb-icon"><i class="material-icons">autorenew</i></div>
                    <div class="sb-text">
                        <span href="/">Exchange</span><br />
                        <span>Got somthing special?</span>
                    </div>
                </a>
            </section>
            <section>
                <a href="/faq">
                    <div class="sb-icon"><i class="material-icons">question_answer</i></div>
                    <div class="sb-text">
                        <span href="/">FAQ</span><br />
                        <span>Problems?</span>
                    </div>
                </a>
            </section>
            <section>
                <a href="/about_us">
                    <div class="sb-icon"><i class="material-icons">group</i></div>
                    <div class="sb-text">
                        <span href="/">About Us</span><br />
                        <span>Who are you?</span>
                    </div>
                </a>
            </section>
        </aside>

        <div id="content" class="col-md-10">
            {% block content%}{% endblock %}
        </div>
    
    </div>
    <footer>
        
    </footer>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
