<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet" media="screen">
    {% block css %}

    {% endblock %}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}Chiphub{% endblock %}</title>
  </head>

  <body>
    <div id="header" class="text-center">
      <h1> Chiphub</h1>
    </div>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="">
            <a href="/">
              <div class="sb-icon"><i class="material-icons">home</i></div>
              <div class="sb-text">
                <span href="/">Home</span><br />
                <span>CHIPHUB</span>
              </div>
              <!--<div>{{login_username}}</div>-->
            </a>
          </li>
          <li>
            <a href="/chatroom/">
              <div class="sb-icon"><i class="material-icons">mode_comment</i></div>
              <div class="sb-text">
                <span href="/">Chatroom</span><br />
                <span>Talk about components</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/exchange/">
              <div class="sb-icon"><i class="material-icons">autorenew</i></div>
              <div class="sb-text">
                <span href="/">Exchange</span><br />
                <span>Got somthing special?</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/faq/">
              <div class="sb-icon"><i class="material-icons">question_answer</i></div>
              <div class="sb-text">
                <span href="/">FAQ</span><br />
                <span>Problems?</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/about_us/">
              <div class="sb-icon"><i class="material-icons">group</i></div>
              <div class="sb-text">
                <span href="/">About Us</span><br />
                <span>Who are you?</span>
              </div>
            </a>
          </li>
          <li id="profile_button_wrapper">
            <a href="/profile/">
              <div class="sb-icon"><i class="material-icons">build</i></div>
              <div class="sb-text">
                <span href="/">Profile</span><br />
                <span>Tell me about you</span>
              </div>
            </a>
          </li>
          <li id="login_button_wrapper">
            <a id="login_button" href="#">
              <div class="sb-icon"><i class="material-icons">vpn_key</i></div>
              <div class="sb-text">
                <span href="/">Login</span><br />
                <span>Let's begin!</span>
              </div>
            </a>
          </li>
          <li id="logout_button_wrapper">
            <a id="logout_button" href="/logout">
              <div class="sb-icon"><i class="material-icons">directions_run</i></div>
              <div class="sb-text">
                <span href="/">Logout</span><br />
                <span>Time to depart</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              {% block content%}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <div class="row">
      <div id="content" class="col-md-10">
      </div>

    </div>

    <!-- Login Form 1-
    <div id="login_wrapper">
      <div id="login_providers">
        <div id="login_title">
          Login
        </div>
        <hr />
        <div id="login_options">
          <a href="/google_login"><div id=login_google></div></a>
        </div>
        <hr />
        <div id="login_footer">
          Note: You will be redirected to other sites for authentication
        </div>
      </div>
    </div>
    End Login Form 1-->

    <!-- Login Form 2-->
    <div id="login_wrapper">
      <div id="login_providers">
        <div id="login_title">
          Login
        </div>
        <hr />
        <ul class="social block"> <!-- SOCIAL (MIDDLE-CONTAINER) -->
          <li><a href="#50"><div class="facebook icon"><span class="zocial-facebook"></span></div><h2 class="facebook titular">SHARE TO FACEBOOK</h2></li></a>
          <li><a href="#51"><div class="twitter icon"><span class="zocial-twitter"></span></div><h2 class="twitter titular">SHARE TO TWITTER</h2></li></a>
          <li><a href="#52"><div class="googleplus icon"><span class="zocial-googleplus"></span></div><h2 class="googleplus titular">SHARE TO GOOGLE+</h2></li></a>
        </ul>
      </div>
    </div>


    <footer>

    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>

</html>
