{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/chatroom.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script src="{% static 'js/chatroom.js' %}"></script>
{% endblock %}

{% block content %}
<div id="banner">
    <div class="space-before"></div>
    <div id="slogan-container">
        <h1>零件討論區</h1>
        <h2>分享使用經驗，找尋最適合的零件</h2>
    </div>
    <div class="space-after"></div>
</div>
<div id="chatroom" ng-controller="chatroom-ctrl">
    <div class="container-fluid">
        <div class="row search-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input id="part-number" type="text" class="form-control" placeholder="Part Number">
            </div>
            <div id="search-container" class="col-sm-2">
                <button id="search" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>

    {% verbatim %}
    <div id="chip-card-list">
        <div class=family ng-repeat="family in families">
            <h3 class=family-mname>{{ family.mname }}</h3>
            <h5 class=family-sname>{{ family.sname }}</h5>
            <a class="chip-card bg-info" href="" ng-repeat="chip in family.components" ng-click="show_info(family, chip)">
                <label>
                    {{ chip.common_name }}
                </label>
            </a>
        </div>
    </div>

    <div id="chip-info" class="ang-fade" ng-if="infoing" ng-cloak ng-mouse-wheel-up="mousewheel()" ng-mouse-wheel-down="mousewheel()">
        <a id="close-chip-info" href="" ng-click="hide_info()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
        <div class="info-container">
            <h1>{{ info.common_name }}</h1>
            <!--<div class="info-id"># 2015-10-D-RC-103323</div>-->
            <div class="container-fluid">
                <div class="row">
                    <div class="grid group info-parties info-grid col-md-5">
                        <div class="info-module">
                            <h3>TYPE</h3>
                            <label id="info-type">{{ info_family.mname }}</label>
                        </div>

                    </div>
                    <div class="grid group info-parties info-grid col-md-5">
                        <div class="info-module">
                            <h3>FAMILY</h3>
                            <label id="info-family">{{ info_family.mname }}</label>
                        </div>

                    </div>
                    <div class="grid group info-parties info-grid col-md-1">
                        <div class="info-module rank">
                            <h5>RANK</h5>
                            <label id="info-rank">{{ info.rank }}</label>
                        </div>
                    </div>
                    <div class="grid group info-parties info-grid col-md-1">
                        <div class="info-module-half rank rbutton">
                            <i class="material-icons">thumb_up</i>
                        </div>
                        <div class="info-module-half rank rbutton">
                            <i class="material-icons">thumb_down</i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid group info-pricing-detail info-grid col-md-12">
                        <div class="info-module">
                            <h3>UNIT PRICES</h3>
                            <!--XXX: repeat-->
                            <div id="info-unit-price">{{ price }}</div>
                    </div>
                </div>
                <div id="comment-container">
                    <div class="row comment" ng-repeat="comment in comments">
                        <div class="grid group info-comment info-grid col-md-10">
                            <div class="info-module">
                                <h3>{{ comment.commenter }} - {{ comment.date }}</h3>
                                <div class="info-context">
                                    {{ comment.text }}
                                </div>
                            </div>
                        </div>
                        <div class="grid group info-parties info-grid col-md-1">
                            <div class="info-module">
                                <h3>RANK</h3>
                                <label class="info-crank">{{ comment.rank }}</label>
                            </div>
                        </div>
                        <div class="grid group info-parties info-grid col-md-1">
                            <div class="info-module-half rank rbutton">
                                <i class="material-icons">thumb_up</i>
                            </div>
                            <div class="info-module-half rank rbutton">
                                <i class="material-icons">thumb_down</i>
                            </div>
                        </div>
                    </div>
                </div>
    {% endverbatim %}
                <div class="row">
                    <div class="grid group info-commenting info-grid col-md-12">
                        <div class="info-module form-group commenting-form" style="display: {{ disp }}">
                            <h3>{{ username }}</h3>
                            <textarea class="form-control" rows="5" id="commenting" ng-model="$parent.comment_text"></textarea>
                            <button type="button" class="btn btn-primary comment-button" id="submit-comment" ng-click="submitComment(info)">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
