{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/chatroom.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script src="{% static 'js/chatroom.js' %}"></script>
{% endblock %}

{% block content %}
<div id="chatroom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-6">
                <input id="part-number" type="text" class="form-control" placeholder="Part Number">
            </div>
            <div class="col-xs-2">
                <button id="search" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>

    <div id="chip-card-list">
    </div>

    <div id="chip-info">
        <a id="close-chip-info" href="#">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
        <div class="info-container">
            <h1>CHIP NAME</h1>
            <!--<div class="info-id"># 2015-10-D-RC-103323</div>-->
            <div class="container-fluid">
                <div class="row">
                    <div class="grid group info-parties info-grid col-md-5">
                        <div class="info-module">
                            <h3>TYPE</h3>
                            <label id="info-type">
                            </label>
                        </div>

                    </div>
                    <div class="grid group info-parties info-grid col-md-5">
                        <div class="info-module">
                            <h3>FAMILY</h3>
                            <label id="info-family">
                            </label>
                        </div>

                    </div>
                    <div class="grid group info-parties info-grid col-md-2">
                        <div class="info-module">
                            <h2 id='info-rank'>RANK</h2>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="grid group info-pricing-detail info-grid col-md-12">
                        <div class="info-module">
                            <h3>UNIT PRICES</h3>
                            <div id="info-unit-price"></div>
                        </div>
                    </div>
                </div>
                <div id="comment-container">
                    <div class="row comment">
                        <div class="grid group info-comment info-grid col-md-10">
                            <div class="info-module">
                                <h3>BOB - 2055/12/31</h3>
                                <div class="info-context">
                                    This chip Sucks
                                </div>
                            </div>
                        </div>
                        <div class="grid group info-parties info-grid col-md-2">
                            <div class="info-module">
                                <h3>RANK</h3>
                                <label class="info-crank">
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
