{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/chatroom.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script src="{% static 'js/chatroom.js' %}"></script>
{% endblock %}

{% block content %}
<div id="chatroom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-6">
                <input id="part-number" type="text" class="form-control" placeholder="Part Number">
            </div>
            <div class="col-xs-2">
                <button id="search" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>

    <div id="chip-card-list">
    </div>
</div>
{% endblock %}
