{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet" media="screen">



{% endblock %}

{% block content %}
  <section>

    <input class="animate" type="radio" name="question" id="q1"/>

    <label class="animate" for="q1">CHIPHUB  的團購服務是免費的嗎?</label>
    <p class="response animate">當然，這是我們的初衷。使用者只需要支付零件的價格(包含中華民國 5% 貨物稅)，而不用付出額外的國際運費。但是我們會外加10%的手續費與向您收取60元台幣的貨運費用。</p>

    <input class="animate" type="radio" name="question" id="q2"/>
    <label class="animate" for="q2">不必負擔國際運費，那國內的部分呢？</label>
    <p class="response animate">我們會使用國內的快遞服務，將貨物寄到你登記的地址。 60元的運費將由使用者負擔。</p>

    <input class="animate" type="radio" name="question" id="q3"/>
    <label class="animate" for="q3">那本網站的下訂金額會與digikey一樣隨數量調整嗎？</label>
    <p class="response animate">不會，我們將一律使用digikey上面一單位的價格來進行計算。 差額將當做網站的營運費用。</p>

    <input class="animate" type="radio" name="question" id="q4"/>
    <label class="animate" for="q4">付款方式與時機？</label>
    <p class="response animate">我們使用銀行匯款。 下訂後需要先去匯款，之後才會真的加入集單活動。</p>

    <input class="animate" type="radio" name="question" id="q4"/>
    <label class="animate" for="q5">我不想無止盡的等下去</label>
    <p class="response animate">訂單有有效期限，可供您設定幾周後沒有成單就放棄，屆時，我們將會於當周禮拜日，把您預先匯給我們的款項全數歸還給您</p>

    <input class="animate" type="radio" name="question" id="q5"/>
    <label class="animate" for="q6">大致上下訂到拿貨需要多少時間呢？</label>
    <p class="response animate">集單到達TWD3000 所需要的時間將不固定，所以我們不建議有急用需求向我們訂購。 而達標之後，Digikey到台灣庫存充裕的情況下需要3天，國內快遞大約需要2天，整體上來說我們有信心在達標後7天將貨品送到你手上。</p>

    <input class="animate" type="radio" name="question" id="q6"/>
    <label class="animate" for="q7">瑕疵品處理辦法</label>
    <p class="response animate">若收到瑕疵品，非人為天然損害，單價高於TWD1000，將由使用者付出國內運費，由我們協助向  Digikey 申訴，做換貨處置</p>

    <input class="animate" type="radio" name="question" id="q6"/>
    <label class="animate" for="q8">CHIPHUB會怎麼聯絡使用者呢</label>
    <p class="response animate">我們會用您所留下的電話與Email聯絡，請去保您留的是真實資料，以保障你退款、收取貨物</p>

  </section>
<script type="text/javascript" src="{% static 'js/faq.js' %}"></script>
<!-- Adobe Free Font -->
<script src="https://use.typekit.net/wig0ytz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endblock %}
