{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/list_order.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script src="{% static 'js/list_order.js' %}"></script>
{% endblock %}

{% block content %}
<div class="invoice">
  <h1>Invoice</h1>
  <div class="invoice-id"># 2015-10-D-RC-103323</div>

  <div class="grid group invoice-parties invoice-grid">

    <div class="grid-1-2">
      <div class="invoice-module">
        <h3>收件人地址</h3>
        <pre>台南市 東區 大學路 1 號</pre>
      </div>
    </div>

    <div class="grid-1-2">
      <div class="invoice-module">
        <h3>From</h3>
        CHIPHUB<br>
        台南市 東區 大學路 1號<br>
        電機系館  92A99
      </div>
    </div>
  </div>

  <div class="grid group invoice-paid-details invoice-grid">
    <div class="grid-1-1">
      <div class="invoice-module">
        <h3>For</h3>
        <div class="invoice-for">
          Order components from CHIPHUB in Dec.23,2015
        </div>
      </div>
    </div>
  </div>
  <div class="grid group invoice-paid-details invoice-grid">
    <div class="grid-1-1">
      <div class="invoice-module">
        <h3>匯款帳戶</h3>
        <div class="invoice-for">
          700-0001110-1314520
        </div>
      </div>
    </div>
  </div>
  <div class="grid group invoice-details invoice-grid">
    <div class="grid-1-2">
      <div class="invoice-module">
        <h3>應付金額</h3>
        <div class="amount-due-amount">NT$ 830</div>
        <h3>實付金額</h3>
        <div class="amount-due-amount">NT$ 830</div>
      </div>
    </div>
    <div class="grid-1-2">
      <div class="invoice-module">
        <h3>繳款截止日期</h3>
        <div class="due-date-date">2015 / 12 / 31</div>
        <h3>匯款日期</h3>
        <div class="due-date-date">2015 / 12 / 23</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
