{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/list_order.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script src="{% static 'js/list_order.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="order-info">
        <a id="close-order-info" href="#">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
        <div class="invoice">
            <h1>Invoice</h1>
            <!--<div class="invoice-id"># 2015-10-D-RC-103323</div>-->
            <div class="container-fluid">
                <div class="row">
                    <div class="grid group invoice-parties invoice-grid col-md-12">

                        <div class="invoice-module">
                            <h3>收件人地址</h3>
                            <label id="info-shipping-address">
                                {{ shipping_address }}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="grid group invoice-paid-details invoice-grid col-md-12">
                        <div class="invoice-module">
                            <h3>寄送日期</h3>
                            <div id="info-sent-date">{{ sent_date }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid group invoice-details invoice-grid col-md-6">
                        <div class="invoice-module">
                            <h3>訂單金額</h3>
                            <div id="info-net"> {{ net }} </div>
                            <h3>手續費</h3>
                            <div id="amount-due-amount"> {{ tmp }}</div>
                        </div>
                    </div>
                    <div class="grid group invoice-details invoice-grid col-md-6">
                        <div class="invoice-module">
                            <h3>匯款帳戶</h3>
                            <button id="paid-info-button" action="edit">編輯</button>
                            <div id="info-paid-account" class="invoice-for">
                                {{ paid_account }}
                            </div>
                            <h3>匯款日期</h3>
                            <div id="info-paid-date" class="due-date-date">{{ paid_date }}</div>
                        </div>
                    </div>
                </div>
                <div id="chip-list">
                    <!--<div class="row chip invoice-module">-->
                        <!--<div class="">-->
                            <!--<div class="col-md-6">-->
                                <!--<h3>CHIP</h3>-->
                                <!--<div class="invoice-for">-->
                                    <!--KASJDLKSAJDLASJDKLASD-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="col-md-6">-->
                                <!--<h3>單價</h3>-->
                                <!--<div class="invoice-for">-->
                                    <!--$20.0-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="col-md-6">-->
                                <!--<h3>數量</h3>-->
                                <!--<div class="invoice-for">-->
                                    <!--10-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="col-md-6">-->
                                <!--<h3>總價 (單價X數量)</h3>-->
                                <!--<div class="invoice-for">-->
                                    <!--$200.0-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
    <div id="order-list">
        <!--<div class="order">-->
            <!--<div class="container-fluid">-->
                <!--<h2 class="order-time">2015/12/31</h2>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4 info-item">-->
                        <!--<label class="control-label">-->
                            <!--寄出日期:-->
                        <!--</label>-->
                        <!--<label class="control-label output" type="sent_date"></label>-->
                    <!--</div>-->
                    <!--<div class="col-md-8 info-item">-->
                        <!--<label class="control-label">-->
                            <!--寄送地址:-->
                        <!--</label>-->
                        <!--<label class="control-label output" type="shipping_address"></label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4 info-item">-->
                        <!--<label class="control-label">-->
                            <!--付款日期:-->
                        <!--</label>-->
                        <!--<label class="control-label output" type="paid_date"></label>-->
                    <!--</div>-->
                    <!--<div class="col-md-8 info-item">-->
                        <!--<label class="control-label">-->
                            <!--匯款帳戶:-->
                        <!--</label>-->
                        <!--<label class="control-label output" type="paid_account"></label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
{% endblock %}
