{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/order.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}

{% block content %}
<div id="profile_form_wrapper">
    <form id="order-form" class="form-horizontal" role="form">
        <div id="chip-list">
            <h2>Order</h2>
            <div class="form-group order">
                <div class="col-md-7 order-item order-row">
                    <div class="row">
                        <label class="col-xs-3 control-label order-item" for="">料號:</label>
                        <div class="col-xs-8 order-item">
                            <input type="pd" class="form-control pd">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 order-item order-row">
                    <div class="row">
                        <label class="col-xs-3 control-label order-item" for="">數量:</label>
                        <div class="col-xs-3 order-item">
                            <input type="amounts" class="form-control amounts">
                        </div>
                        <label class="col-xs-3 control-label order-item price" for="" >金額:</label>
                        <label class="col-xs-3 control-label order-item" for="" >-</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group order">
            <div class="col-xs-3">
                <a id="order-button" type="button" class="btn btn-default" onclick="add_chip()">+</a>
            </div>
            <label id="total" class="col-xs-8">
                <span>Total</span>
                <span id="total-price">-</span>
            </label>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-3" for="realname">Real Name:</label>
            <div class="col-md-9">
                <input type="realname" class="form-control" id="realname" disabled value="{{ realname }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="shipping_address">Shipping Address:</label>
            <div class="col-md-9">
                <input type="shipping_addreess" class="form-control" id="shipping_address" disabled value="{{ shipping_address }}">
                <!--<input type="shipping_address" class="form-control" id="shipping_address" disabled value="asdasd">-->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="email">Email:</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="email" disabled value="{{ email }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="phone">Phone:</label>
            <div class="col-md-9">
                <input type="phone" class="form-control" id="phone" disabled value="{{ phone }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" class="btn btn-default" onclick="submit_form()">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
