{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div id="profile_form_wrapper">
    <form action="/update_profile" method='get'>
        Username:<input name="username" type="text" value="{{ username }}" /><br />
        Email:<input name="email" type="text" value="{{ email }}" /><br />
        Real Name:<input name="realname" type="text" value="{{ realname }}" /><br />
        Shipping Address:<input name="shipping_address" type="text" value="{{ shipping_address }}" /><br />
        Phone:<input name="phone" type="text" value="{{ phone }}" /><br />
        ID:<input name="id" type="text" value="{{ id }}" /><br />
        <input type="submit" />
    </form>
</div>
{% endblock %}
