{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/progress.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'js/progress.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Progress Bar -->
<div id=countdown-wrap>
  <div id="goal">集單進度</div>
  <div id="glass">
    <div id="progress">
    </div>
  </div>
  <div class="goal-stat">
    <span class="goal-label">集單目標</span>
    <span class="goal-number">$3000</span>
  </div>
  <div class="goal-stat">
    <span class="goal-label">已完成</span>
    <span id="funds-raised-percent" class="goal-number">0%</span>
  </div>
  <div class="goal-stat">
    <span class="goal-label">已集單價格</span>
    <span id="funds-raised"class="goal-number">$0</span>
  </div>
  <div class="goal-stat">
    <span class="goal-label">參與人數</span>
    <span class="goal-number" id="funds-count">0</span>
  </div>
</div>
<!-- End Progress Bar -->
<!-- Button to Order -->
<div id="drop-shadow-wrapper">
  <div class="drop-shadow" onclick="window.location = '/order/'">
    <p>Build a new Order</p>
  </div>
  <div class="drop-shadow" onclick="window.location = '/list_order/'">
    <p>Check yout order</p>
  </div>
</div>
<!-- Button to Order -->
<!-- Ordered History -->
<div id="table-list">
	<div class="header-row-list row-list">
    <span class="cell-list primary">編號</span>
    <span class="cell-list">日期</span>
     <span class="cell-list">金額</span>
    <span class="cell-list">地點</span>
    <span class="cell-list">人數</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
  <div class="row-list">
	  <input type="radio" name="expand">
    <span class="cell-list primary" data-label="serial-num">2015-10-D-RC-103324</span>
    <span class="cell-list" data-label="Date">12 / 03 / 2015</span>
    <span class="cell-list" data-label="sum">NT$ 4500</span>
    <span class="cell-list" data-label="place">台南</span>
    <span class="cell-list" data-label="person">8</span>
  </div>
</div>
<!-- End Ordered List -->
{% endblock %}
