{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/progress.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'js/progress.js' %}"></script>
{% endblock %}

{% block content %}
<div id="slider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item cover-1">
                <div class="desc">輕鬆、快速的取得你所需要的零件</div>
                <div class="author">
                    Photo by Jeff Keyzer on Flickr
                </div>
            </div>
            <div class="item cover-2 active">
                <div class="desc">使用最新最棒的零件進行創作</div>
                <div class="author">
                    Photo by Windell Oskay on Flickr
                </div>
            </div>
            <div class="item cover-3">
                <div class="desc">以低廉的運費取得正廠零件</div>
                <div class="author">
                    Photo by Gwan Kho on Flickr
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div id="progress-container" ng-controller="progress">
    <div id="goal">Digikey集單進度</div>
    <div id="glass">
        <div id="progress">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% verbatim %}
            <div class="col-sm-3 text-center goal-stat">
                <label class="goal-label">集單目標</label>
                <label class="goal-number">$3000</label>
            </div>
            <div class="col-sm-3 text-center goal-stat">
                <label class="goal-label">已集單價格</label>
                <label id="funds-raised"class="goal-number">{{ current_accumulated | currency }}</label>
            </div>
            <div class="col-sm-3 text-center goal-stat hide-in-small-screen">
                <label class="goal-label">已完成</label>
                <label id="funds-raised-percent" class="goal-number">{{ current_percent }}%</label>
            </div>
            <div class="col-sm-3 text-center goal-stat hide-in-small-screen">
                <label class="goal-label">參與人數</label>
                <label class="goal-number" id="funds-count">{{ current_person_count }}</label>
            </div>
            {% endverbatim %}
        </div>
        <div id="button-container" class="text-center">
            <button id="go-button" type="button" class="btn btn-success" ng-click="go_order()">馬上參加集單</button>
        </div>
    </div>
</div>
<!-- End Ordered List -->
{% endblock %}
