{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/progress.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'js/progress.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Progress Bar -->
<div id=countdown-wrap>
  <div id="goal">集單進度</div>
  <div id="glass">
    <div id="progress">
    </div>
  </div>
  <div class="goal-stat">
    <span class="goal-label">集單目標</span>
    <span class="goal-number">$3000</span>
  </div>
  <div class="goal-stat">
    <span class="goal-label">已完成</span>
    <span id="funds-raised-percent" class="goal-number">0%</span>
  </div>
  <div class="goal-stat">
    <span class="goal-label">已集單價格</span>
    <span id="funds-raised"class="goal-number">$0</span>
  </div>
  <div class="goal-stat">
    <span class="goal-label">參與本次集單人數</span>
    <span class="goal-number" id="funds-count">0</span>
  </div>
</div>
<!-- End Progress Bar -->
<!-- Button to Order -->
<div id="drop-shadow-wrapper">
  <div class="drop-shadow" onclick="window.location = '/order/'">
    <p>Build a new Order</p>
  </div>
  <div class="drop-shadow" onclick="window.location = '/progress/'">
    <p>Check yout order</p>
  </div>
</div>
<!-- Button to Order -->
<!-- Ordered History -->
  
<!-- End Ordered List -->
{% endblock %}
